<div class="card item-card mb-3">
  <button type="button" class="btn btn-sm btn-outline-danger remove-item-btn" data-action="remove">Remove</button>
  <div class="card-body">
    <legend>ALR Prescription Item</legend>
    <div class="row g-3">
      <div class="col-md-2">{{ subform.prescription_id.label(class="form-label") }} {{ subform.prescription_id(class="form-control") }}</div>
      <div class="col-md-3">{{ subform.prescribed_date.label(class="form-label required") }} {{ subform.prescribed_date(class="form-control") }}</div>

      <div class="col-md-6">{{ subform.drug_name.label(class="form-label required") }} {{ subform.drug_name(class="form-control", rows=2) }}</div>
      <div class="col-md-3">{{ subform.dose_instr.label(class="form-label") }} {{ subform.dose_instr(class="form-control") }}</div>
      <div class="col-md-3">{{ subform.dose_qty.label(class="form-label") }} {{ subform.dose_qty(class="form-control") }}</div>
      <div class="col-md-3">{{ subform.dose_rpt.label(class="form-label") }} {{ subform.dose_rpt(class="form-control") }}</div>
      <div class="col-md-3">{{ subform.paperless.label(class="form-label") }} {{ subform.paperless(class="form-select") }}</div>
      <div class="col-md-3">{{ subform.brand_sub_not_prmt.label(class="form-label") }} {{ subform.brand_sub_not_prmt(class="form-select") }}</div>
    </div>

    <hr class="my-3" />

    <legend>Prescriber</legend>
    <div class="row g-3">
      <div class="col-md-3">{{ subform.prescriber.fname.label(class="form-label") }} {{ subform.prescriber.fname(class="form-control") }}</div>
      <div class="col-md-3">{{ subform.prescriber.lname.label(class="form-label") }} {{ subform.prescriber.lname(class="form-control") }}</div>
      <div class="col-md-6">{{ subform.prescriber.title.label(class="form-label") }} {{ subform.prescriber.title(class="form-control") }}</div>
      <div class="col-md-6">{{ subform.prescriber.address_1.label(class="form-label") }} {{ subform.prescriber.address_1(class="form-control") }}</div>
      <div class="col-md-3">{{ subform.prescriber.prescriber_id.label(class="form-label") }} {{ subform.prescriber.prescriber_id(class="form-control") }}</div>
      <div class="col-md-3">{{ subform.prescriber.phone.label(class="form-label") }} {{ subform.prescriber.phone(class="form-control") }}</div>
      <div class="col-md-3">{{ subform.prescriber.fax.label(class="form-label") }} {{ subform.prescriber.fax(class="form-control") }}</div>
    </div>
  </div>
</div>
