{% macro render_item(subform, item_type, item_index) %}
<div class="accordion-item item-card">
  <h2 class="accordion-header" id="{{ item_type | lower }}-heading-{{ item_index }}">
    <button class="accordion-button collapsed" type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#{{ item_type | lower }}-collapse-{{ item_index }}" 
            aria-expanded="false" 
            aria-controls="{{ item_type | lower }}-collapse-{{ item_index }}"
            id="{{ item_type | lower }}-btn-{{ item_index }}">
      <span id="{{ item_type | lower }}-btn-{{ item_index }}-text">
        {{ item_type }} Prescription {{ item_index }}
      </span>
      <span id="{{ item_type | lower }}-btn-{{ item_index }}-text" class="d-none drug-name-span ms-1"></span>
      <span class="d-none new-item badge text-bg-primary ms-3" id="{{ item_type | lower }}-{{ item_index }}-edits-made">
        <i class="bi bi-star-fill me-2"></i>New
      </span>
      <span class="d-none unsaved-changes badge text-bg-warning ms-3" id="{{ item_type | lower }}-{{ item_index }}-edits-made">
        <i class="bi bi-exclamation-triangle me-2"></i>Unsaved Changes
      </span>
    </button>
  </h2>
  <div id="{{ item_type | lower }}-collapse-{{ item_index }}" 
     class="accordion-collapse collapse" 
     aria-labelledby="{{ item_type | lower }}-heading-{{ item_index }}">
    <div class="accordion-body">
      <h5>Prescription</h5>
      <div class="row g-3">
        <div class="col-md-3">{{ subform.prescribed_date.label(class="form-label required") }} {{ subform.prescribed_date(class="form-control") }}</div>
        <div class="col-md-3">{{ subform.dispensed_date.label(class="form-label required") }} {{ subform.dispensed_date(class="form-control") }}</div>
        <div class="col-md-7">{{ subform.drug_name.label(class="form-label required") }} {{ subform.drug_name(class="form-control", rows=2) }}</div>
        <div class="col-md-3">{{ subform.dose_instr.label(class="form-label") }} {{ subform.dose_instr(class="form-control") }}</div>
        <div class="col-md-3">{{ subform.dose_qty.label(class="form-label") }} {{ subform.dose_qty(class="form-control") }}</div>
        <div class="col-md-3">{{ subform.dose_rpt.label(class="form-label") }} {{ subform.dose_rpt(class="form-control") }}</div>
        <div class="col-md-3">{{ subform.paperless.label(class="form-label") }} {{ subform.paperless(class="form-select") }}</div>
        <div class="col-md-3">{{ subform.brand_sub_not_prmt.label(class="form-label") }} {{ subform.brand_sub_not_prmt(class="form-select") }}</div>
      </div>

      <hr class="my-3" />

      <h5>Prescriber</h5>
      <div class="row g-3">
        <div class="col-md-3">{{ subform.prescriber.fname.label(class="form-label") }} {{ subform.prescriber.fname(class="form-control") }}</div>
        <div class="col-md-3">{{ subform.prescriber.lname.label(class="form-label") }} {{ subform.prescriber.lname(class="form-control") }}</div>
        <div class="col-md-6">{{ subform.prescriber.title.label(class="form-label") }} {{ subform.prescriber.title(class="form-control") }}</div>
        <div class="col-md-6">{{ subform.prescriber.address_1.label(class="form-label") }} {{ subform.prescriber.address_1(class="form-control") }}</div>
        <div class="col-md-3">{{ subform.prescriber.phone.label(class="form-label") }} {{ subform.prescriber.phone(class="form-control") }}</div>
        <div class="col-md-3">{{ subform.prescriber.fax.label(class="form-label") }} {{ subform.prescriber.fax(class="form-control") }}</div>
        <div class="col-md-9 d-flex justify-content-end align-items-end">
          <button type="button" class="btn btn-sm btn-outline-danger ms-2 remove-item-btn" data-action="remove">
            <i class="bi bi-trash"></i> Remove
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
