body > .container {
    margin-top: 3%;
    margin-bottom: 3%;
}

.asl-check * {
    margin: auto;
    display: block;
}
.asl-qty,
.asl-rpt,
.alr-qty,
.alr-rpt {
    text-align: center;
}

.alr-date,
.alr-item,
.asl-date,
.asl-item {
    font-weight: bold;
}
td > p {
    font-weight: normal;
    margin-bottom: 0;
}
.asl-paper > td {
    color: #999 !important;
}
.asl-paper > td > p {
    visibility: hidden;
}
.alr-paper > td > p {
    visibility: hidden;
}
.alr-paper .alr-cloud-prescription,
.asl-paper .asl-cloud-prescription {
    visibility: hidden;
}
.asl-cloud-prescription img,
.alr-cloud-prescription img {
    width: 20px;
    height: 20px;
    margin: auto;
    display: block;
}

.asl-check:hover > *, 
.printer:hover {
    cursor: pointer;
}

html {
    overflow-y: scroll;
}

.customer-card {    
    min-height: 100%;
}

#consent_status {
    text-decoration: none;
    font-weight: bold;
}
#consent_status.granted {
    color: green;
}
#consent_status.rejected {
    color: red;
}
#consent_status.pending {
    color: orange;
}
#consent-last_updated {
    font-style: italic;
}

.btn {
    font-weight: bold;
}
