.edit-pt-main {
    border-radius: 1rem;
}

.nav-link.disabled,
.dropdown-item.disabled {
    text-decoration: line-through;
}

.nav-link {
    color: black;
}

#generatePtDetails {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#address-suggestions {
    width: calc(100%  - 16px);
}
#address-suggestions .dropdown-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}