section {
  max-width: 60%;
  margin: 20px auto;
}

section > * {
  max-width: 85ch;
  margin: 10px 0px;
}

section img {
  max-width: 100%;
  max-height: 30rem;
  border: solid black 1px;
}

section table {
  margin-bottom: 1em;
  width: auto !important;
}

/* Screens smaller than md */
h1 {
  margin: 20px 5%;
  max-width: 100%;
}

/* Screens larger than md (>=768px) */
@media (min-width: 768px) {
  h1 {
    margin: 20px 14.5% 0px auto;
    max-width: 60%;
  }
}

#navbar-contents {
  position: sticky;
  top: 10%;
}

#modalImage {
  max-width: 75vw;
  max-height: 75vh;
  height: auto;
  object-fit: contain;
}

#imageModal {
  cursor: zoom-out;
}

img:not(#modalImage) {
  cursor: zoom-in;
}
