body > .container {
    margin-top: 3%;
    margin-bottom: 3%;
}

.scenario-check * {
    margin: auto;
    display: block;
}
.scenario-qty,
.scenario-percent-complete {
    text-align: center;
}

.scenario-name > a,
.scenario-check:hover > *, 
.printer:hover {
    cursor: pointer;
}

.scenario-name {
    font-style: u;
}

.sr-only {
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
}