{% extends "base.html" %}
{% block title %}[Student No] Pharmacy{% endblock %}

{% block head %}
    {% import "views/pt_detail_input.html" as pt %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/asl.css') }}">
{% endblock %}
{% block scripts %}
    <!-- html2pdf -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.3/html2pdf.bundle.min.js" integrity="sha512-yu5WG6ewBNKx8svICzUA01vozhmiQCVfzjzW40eCHJdsDRaOifh9hPlWBDex5b32gWCzawTp1F3FJz60ps6TnQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="{{ url_for('static', filename='js/print_script.js') }}"></script>

    <script>
        const pt_id = {{ pt }};
        const pt_data = {{ pt_data|tojson }};
        const flatted_pt_data = flatten_dict(pt_data);
    </script>
{% endblock %}

{% block body %}
<div class="container">
    <h2>Active Script List</h2>
    <div class="row">
        <div id="customer-details" class="col">
            <div class="row">
                <h3>Customer Details (ASL)</h3>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Name</h4>
                    <p>{{ pt_data['name'] }}</p>
                </div>
                <div class="col">
                    <h4>Date of Birth</h4>
                    <p>{{ pt_data['dob'] }}</p>
                </div>
                <div class="col">
                    <h4>Address</h4>
                    <p>{{ pt_data['address-1'] }} {{ pt_data['address-2'] }}</p>
                </div>
            </div>
            <div class="row">
                <h4>Preferred Contact</h4>
                <p>{{ pt_data['preferred-contact'] }}</p>
            </div>
        </div>
        <div id="customer-asl-info" class="col">
            <div class="card card-body customer-card">
                <div class="row">
                    <h3>ASL Information</h3>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Status</h4>
                        <p>Registered</p>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-row justify-content-end gap-2">
                            <button type="button" class="btn btn-info">Request Access</button>
                            <button type="button" class="btn btn-dark">Refresh</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-12">Consent Status</h4>
                    <p class="d-flex justify-content-between align-items-center">
                        <span>
                            <a id="consent-status" class="granted">Granted</a>
                            <a id="consent-last-updated">(last updated 01/Jan/2000 02:59AM)</a>
                        </span>
                        <button type="button" class="btn btn-secondary btn-sm">Delete Consent</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
        <input id="asl-filter" type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
    </div>
    <br>
    
    <div class="container">
        <div class="row">
            <div class="col-1">
                <button type="button" class="btn btn-light btn-collapse" data-bs-toggle="collapse" data-bs-target="#asl-table" aria-controls="asl-table">
                    <i class="bi bi-chevron-up"></i>
                </button>
            </div>
            <div class="col-10">
                <p>ASL Scripts</p>
            </div>
            <div class="col-1">
                <button id="script-print" class="btn btn-primary">
                    <i class="bi bi-printer-fill printer"></i>
                </button>
            </div>
        </div>
        <table id="asl-table" class="table">
            <thead>
                <tr>
                    <th scope="col">Select</th>
                    <th scope="col">Prescribed</th>
                    <th scope="col">Item</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Prescriber</th>
                    <th scope="col">Rpt</th>
                    <th scope="col">Paperless</th>
                </tr>
            </thead>
            <tbody>
{% for asl in pt_data['asl_data'] %}
<tr id="asl-{{ loop.index0 }}" class="asl-{{ 'paperless' if asl['paperless'] else 'paper' }}">
    <td class="asl-check"><input class="form-check-input" type="checkbox" value="" id="asl-scripts-check-{{ loop.index }}"></td>
    <td class="asl-date">{{ asl['prescribed-date'] }}</td>
    <td class="asl-item">{{ asl['drug-name'] }}<p>{{ asl['DSPID'] }}</p></td>
    <td class="asl-qty">{{ asl['dose-qty'] }}</td>
    <td class="asl-prescriber">{{ asl['prescriber']['lname'] }}, {{ asl['prescriber']['fname'] }}<br>{{ asl['prescriber']['id'] }}</td>
    <td class="asl-rpt">{{ asl['dose-rpt'] }}</td>
    <td class="asl-cloud-prescription"><img src="{{ url_for('static', filename='cloud-prescription.svg') }}"/></td>
</tr>
{% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-1">
                <button type="button" class="btn btn-light btn-collapse" data-bs-toggle="collapse" data-bs-target="#alr-table" aria-controls="alr-table">
                    <i class="bi bi-chevron-up"></i>
                </button>
            </div>
            <div class="col-11">
                <p>Available Local Repeats (View Only)</p>
            </div>
        </div>
        <table id="alr-table"  class="table">
            <thead>
                <tr>
                <th scope="col">Dispensed</th>
                <th scope="col">Item</th>
                <th scope="col">Qty</th>
                <th scope="col">Prescribed</th>
                <th scope="col">Rpt</th>
                <th scope="col">Paperless</th>
                </tr>
            </thead>
            <tbody>
{% for alr in pt_data['alr_data'] %}
<tr id="alr-{{ loop.index }}" class="alr-{{ 'paperless' if alr['paperless'] else 'paper' }}">
    <td class="alr-date">{{ alr['dispensed-date'] }}</td>
    <td class="alr-item">{{ alr['drug-name'] }}<p>{{ alr['dose-instr'] }}</p></td>
    <td class="alr-qty">{{ alr['dose-qty'] }}</td>
    <td class="alr-prescriber">{{ alr['prescriber']['lname'] }}, {{ alr['prescriber']['fname'][0] }}<br>{{ alr['prescribed-date'] }}</td>
    <td class="alr-rpt">{{ alr['dose-rpt'] }}</td>
    <td class="alr-cloud-prescription"><img src="{{ url_for('static', filename='cloud-prescription.svg') }}"/></td>
</tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}