{% extends "base.html" %}
{% block title %}[Student No] Dashboard{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}
{% block scripts %}{% endblock %}

{% block body %}

<div class="container mt-4">

<h2>{{ user_type }} Dashboard</h2>
<div class="row m-3">
    <h4>Scenarios</h4>
</div>


<div class=" rounded-2 border border-3">
<table class="table table-striped">
<thead>
    <tr>
        {% if user_type == "Teacher" %}
        <th scope="col"></th>
        {% endif %}
        <th scope="col">Scenario</th>
        {% if user_type == "Teacher" %}
        <th scope="col">Students</th>
        <th scope="col">Percent Complete</th>
        {% else %}
        <th scope="col">No. Attempts</th>
        {% endif %}
        <th scope="col">Make Attempt</th>
        {% if user_type == "Teacher" %}
        <th scope="col">Edit</th>
        <th scope="col">Download</th>
        <th scope="col">Delete</th>
        {% endif %}
    </tr>
</thead>
{% for scenario in scenarios %}
<tr>
    {% if user_type == "Teacher" %}
    <td class="scenario-check"><input class="form-check-input" type="checkbox" value="" id="scenario-check-{{loop.index}}"></td>
    {% endif %}
    <td class="scenario-name"><a href="{{ url_for('views.edit_scenario', scenario=scenario['id']) }}">{{ scenario['name'] }}</a></td>
    {% if user_type == "Teacher" %}
    <td class="scenario-qty">{{ scenario['num-students'] }}</td>
    <td class="scenario-percent-complete">{{ scenario['num-students-completed'] // scenario['num-students'] }}%</td>
    {% else %}
    <td class="scenario-percent-complete">{{ scenario['user-attempts-count'] }}</td>
    {% endif %}
    <td class="scenario-attempt">
        <a class="btn btn-success w-75" title="Attempt scenario">
            <i class="bi bi-play-fill"></i>
            <span class="sr-only">Attempt scenario</span>
        </a>
    </td>
    {% if user_type == "Teacher" %}
    <td class="scenario-edit">
        <a class="btn btn-info w-75" title="Edit scenario">
            <i class="bi bi-pencil-square"></i>
            <span class="sr-only">Edit scenario</span>
        </a>
    </td>
    <td class="scenario-export">
        <a class="btn btn-secondary w-75" title="Export scenario">
            <i class="bi bi-download"></i>
            <span class="sr-only">Export data</span>
        </a>
    </td>
    <td class="scenario-delete">
        <a class="btn btn-danger w-75" title="Delete scenario">
            <i class="bi bi-trash3-fill"></i>
            <span class="sr-only">Delete scenario</span>
        </a>
    </td>
    {% endif %}
</tr>
{% endfor %}
</tbody>
</table>
</div>

{% if user_type == "Teacher" %}
<div class="row m-3">
    <div class="col-10"></div>
    <div class="col-2 d-flex justify-content-end">
        <button class="btn btn-primary w-100" title="Add scenario">
            <i class="bi bi-plus-square-fill"></i>
            <span class="sr-only">Add scenario</span>
        </button>
    </div>
</div>
{% endif %}

</div>
{% endblock %}