{% extends "base.html" %}
{% block title %}[Student No] Dashboard{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}
{% block scripts %}{% endblock %}

{% block body %}

<div class="container mt-4">

<h2>{{ user_type }} Dashboard</h2>
<div class="row m-3">
    <h4>Scenarios</h4>
</div>


<div class=" rounded-2 border border-3">
<table class="table table-striped mb-0">
<thead>
    <tr>
        {% if user_type == "Teacher" %}
        <th scope="col"></th>
        {% endif %}
        <th scope="col">Scenario</th>
        <th scope="col" class="text-center">Created</th>
        <th scope="col" class="text-center">Due Date</th>
        {% if user_type == "Teacher" %}
        <th scope="col" class="text-center">Students</th>
        <th scope="col" class="text-center">Number Complete</th>
        {% else %}
        <th scope="col" class="text-center">No. Attempts</th>
        {% endif %}
        <th scope="col" class="text-center">Attempt</th>
        {% if user_type == "Teacher" %}
        <th scope="col" class="text-center">Edit</th>
        <th scope="col" class="text-center">Download</th>
        <th scope="col" class="text-center">Delete</th>
        {% endif %}
        <!-- btn col widths are not equal: needs to fixed based on student/teach dash --->
    </tr>
</thead>
{% for scenario in scenarios %}
<tr>
    {% if user_type == "Teacher" %}
    <td class="scenario-check align-middle text-center">
        <input class="form-check-input" type="checkbox" value="" id="scenario-check-{{loop.index}}">
    </td>
    {% endif %}
    <td class="scenario-name align-middle">
        <a href="{{ url_for('views.edit_scenario', scenario=scenario['id']) }}">{{ scenario['name'] }}</a>
    </td>
    <td class="scenario-name align-middle">
        {{ scenario['creation-date'] }}
    </td>
    <td class="scenario-name align-middle">
        {{ scenario['due-date'] }}
    </td>
    {% if user_type == "Teacher" %}
    <td class="scenario-qty align-middle text-center">{{ scenario['num-students'] }}</td>
    <td class="scenario-percent-complete align-middle text-center">
        <div class="row">
            <div class="col text-end"><a>{{ scenario['num-students-completed'] }}</a></div>
            <div class="col text-end"><a>({{ 100 * scenario['num-students-completed'] // scenario['num-students'] }}%)</a></div>
        </div>
    </td>
    {% else %}
    <td class="scenario-percent-complete align-middle">{{ scenario['user-attempts-count'] }}</td>
    {% endif %}
    <td class="scenario-attempt text-center">
        <a class="btn btn-success" title="Attempt scenario" href="{{ url_for('views.attempt_scenario', scenario=scenario['id']) }}">
            <i class="bi bi-play-fill"></i>
            <span class="sr-only">Attempt scenario</span>
        </a>
    </td>
    {% if user_type == "Teacher" %}
    <td class="scenario-edit text-center">
        <a class="btn btn-info" title="Edit scenario" href="{{ url_for('views.edit_scenario', scenario=scenario['id']) }}">
            <i class="bi bi-pencil-square"></i>
            <span class="sr-only">Edit scenario</span>
        </a>
    </td>
    <td class="scenario-export text-center">
        <a class="btn btn-secondary" title="Export scenario" href="{{ url_for('views.export_scenario', scenario=scenario['id']) }}">
            <i class="bi bi-download"></i>
            <span class="sr-only">Export data</span>
        </a>
    </td>
    <td class="scenario-delete text-center">
        <a class="btn btn-danger" title="Delete scenario" href="{{ url_for('views.delete_scenario', scenario=scenario['id']) }}">
            <i class="bi bi-trash3-fill"></i>
            <span class="sr-only">Delete scenario</span>
        </a>
    </td>
    {% endif %}
</tr>
{% endfor %}
</tbody>
</table>
</div>

{% if user_type == "Teacher" %}
<div class="row m-3">
    <div class="col-10"></div>
    <div class="col-2 d-flex justify-content-end">
        <button class="btn btn-primary w-100" title="Add scenario">
            <i class="bi bi-plus-square-fill"></i>
            <span class="sr-only">Add scenario</span>
        </button>
    </div>
</div>
{% endif %}

</div>
{% endblock %}