{% extends "base.html" %}
{% import "views/pt_detail_input.html" as pt_macros %}
{% block title %}Edit Patient Details{% endblock %}

{% block head %}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_pt.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/edit_pt.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
<div class="row">
<div class="card shadow-lg p-4 col-12 col-lg-9 mx-auto">
    <div class="position-relative mb-4">
        <h3 class="text-center">Patient Details</h3>
        <button id="generatePtDetails" class="btn btn-secondary position-absolute d-none d-md-flex">
            Generate Details
        </button>
    </div>

    <!-- Navigation tabs -->
    <ul class="nav nav-tabs mb-3 d-none d-md-flex" id="formTabs" role="tablist">
        {{ pt_macros.add_tab("basic-details",           "Basic Details",            "basic",       active=True) }}
        {{ pt_macros.add_tab("safety-net",              "Safety Net Details",       "safety-net") }}
        {{ pt_macros.add_tab("allergies",               "Allergies/Health",         "allergies",   disabled=True) }}
        {{ pt_macros.add_tab("accounts",                "Accounts",                 "accounts") }}
        {{ pt_macros.add_tab("notes",                   "Notes",                    "notes") }}
        {{ pt_macros.add_tab("clinical-interventions",  "Clinical Interventions",   "clinical",    disabled=True) }}
        {{ pt_macros.add_tab("sms",                     "SMS",                      "sms",         disabled=True) }}
        {{ pt_macros.add_tab("clubs",                   "Clubs/Providers",          "clubs") }}
        {{ pt_macros.add_tab("other",                   "Other",                    "other") }}
    </ul>
    <!-- Dropdown (visible only on small screens) -->
    <div class="dropdown d-lg-none">
        <div class="nav nav-tabs" data-bs-toggle="dropdown">
        <div class="nav-item">
            <a class="nav-link active dropdown-toggle" href="#" id="dropdownMenuLink">
                Basic Details
            </a>
        </div>
        <button id="generatePtDetails" class="btn btn-secondary position-absolute">
            Generate Details
        </button>
        </div>
        <ul class="dropdown-menu" id="dropdownMenu">
            {{ pt_macros.add_ddown("basic-details",           "Basic Details",            "basic",       active=True) }}
            {{ pt_macros.add_ddown("safety-net",              "Safety Net Details",       "safety-net") }}
            {{ pt_macros.add_ddown("allergies",               "Allergies/Health",         "allergies",   disabled=True) }}
            {{ pt_macros.add_ddown("accounts",                "Accounts",                 "accounts") }}
            {{ pt_macros.add_ddown("notes",                   "Notes",                    "notes") }}
            {{ pt_macros.add_ddown("clinical-interventions",  "Clinical Interventions",   "clinical",    disabled=True) }}
            {{ pt_macros.add_ddown("sms",                     "SMS",                      "sms",         disabled=True) }}
            {{ pt_macros.add_ddown("clubs",                   "Clubs/Providers",          "clubs") }}
            {{ pt_macros.add_ddown("other",                   "Other",                    "others") }}
        </ul>
    </div>

<form method="POST">
    {{ form.hidden_tag() }}
<!-- Tab panes -->
<div class="tab-content">
    <!-- Personal Tab -->
    {% call pt_macros.add_tab_panel("Basic Details", "basic", active=True) %}<div>
        <!-- Personal Info -->
        <h5 class="my-3">Personal</h5>
        <div class="row g-3 align-items-center mb-1">
            <div class="col-2">{{ form.lastName.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.lastName(class="form-control form-control-sm") }}</div>

            <div class="col-2">{{ form.givenName.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.givenName(class="form-control form-control-sm") }}</div>
        </div>

        <div class="row g-3 align-items-center mb-1">
            <div class="col-2">{{ form.title.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.title(class="form-select form-select-sm") }}</div>

            <div class="col-2">{{ form.sex.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.sex(class="form-select form-select-sm") }}</div>
        </div>

        <div class="row g-3 align-items-center mb-1">
            <div class="col-2">{{ form.dob.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.dob(class="form-control form-control-sm") }}</div>

            <div class="col-2">{{ form.ptNumber.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.ptNumber(class="form-control form-control-sm", disabled=True) }}</div>
        </div>

        <!-- Contact Info -->
        <h5 class="my-3">Contact</h5>
        <div class="row g-3 align-items-center mb-1">
            <div class="col-2"><label for="address" class="form-label form-label-sm">Address</label></div>
            <div class="col-10 position-relative">
                <input type="text" id="address" class="form-control form-control-sm" required>
                <ul id="address-suggestions" class="dropdown-menu"></ul>
            </div>
        </div>

        <div class="row g-3 align-items-center mb-1">
            <div class="col-2">{{ form.suburb.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.suburb(class="form-control form-control-sm") }}</div>

            <div class="col-2">{{ form.state.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.state(class="form-select form-select-sm") }}</div>
        </div>

        <div class="row g-3 align-items-center mb-1">
            <div class="col-2">{{ form.postcode.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.postcode(class="form-control form-control-sm") }}</div>

            <div class="col-2">{{ form.phone.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.phone(class="form-control form-control-sm") }}</div>
        </div>

        <div class="row g-3 align-items-center mb-1">
            <div class="col-2">{{ form.mobile.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.mobile(class="form-control form-control-sm") }}</div>

            <div class="col-2">{{ form.licence.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.licence(class="form-control form-control-sm") }}</div>
        </div>

        <div class="row g-3 align-items-center mb-1">
            <div class="col-2"></div>
            <div class="col-10">
                <div class="form-check">{{ form.smsRepeats(class="form-check-input") }} {{ form.smsRepeats.label(class="form-check-label") }}</div>
                <div class="form-check">{{ form.smsLastRepeats(class="form-check-input") }} {{ form.smsLastRepeats.label(class="form-check-label") }}</div>
                <div class="form-check">{{ form.smsOwing(class="form-check-input") }} {{ form.smsOwing.label(class="form-check-label") }}</div>
            </div>
        </div>

        <div class="row g-3 align-items-center mb-1">
            <div class="col-2">{{ form.email.label(class="form-label form-label-sm") }}</div>
            <div class="col-10">{{ form.email(class="form-control form-control-sm") }}</div>
        </div>

        <!-- Medicare -->
        <h5 class="my-3">Medicare</h5>
        <div class="row g-3 align-items-center mb-1">
            <div class="col-2">{{ form.medicare.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">
                <div class="input-group input-group-sm w-100">
                    {{ form.medicare(class="form-control form-control-sm w-75") }}
                    <span class="input-group-text">-</span>
                    {{ form.medicareIssue(class="form-control form-control-sm") }}
                </div>
            </div>

            <div class="col-2">{{ form.medicareValidTo.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.medicareValidTo(class="form-control form-control-sm", placeholder="mm / yyyy") }}</div>
        </div>

        <div class="row g-3 align-items-center mb-1">
            <div class="col-2">{{ form.medicareSurname.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.medicareSurname(class="form-control form-control-sm") }}</div>

            <div class="col-2">{{ form.medicareGivenName.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.medicareGivenName(class="form-control form-control-sm") }}</div>
        </div>

        <!-- Concession -->
        <h5 class="my-3">Concession</h5>
        <div class="row g-3 align-items-center mb-1">
            <div class="col-2">{{ form.concessionNumber.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.concessionNumber(class="form-control form-control-sm") }}</div>

            <div class="col-2">{{ form.concessionValidTo.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.concessionValidTo(class="form-control form-control-sm") }}</div>
        </div>

        <div class="row g-3 align-items-center mb-1">
            <div class="col-2">{{ form.safetyNetNumber.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.safetyNetNumber(class="form-control form-control-sm") }}</div>
        </div>

        <div class="row g-3 align-items-center mb-1">
            <div class="col-2">{{ form.repatriationNumber.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.repatriationNumber(class="form-control form-control-sm") }}</div>

            <div class="col-2">{{ form.repatriationValidTo.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.repatriationValidTo(class="form-control form-control-sm") }}</div>
        </div>

        <div class="row g-3 align-items-center mb-1">
            <div class="col-2">{{ form.repatriationType.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.repatriationType(class="form-control form-control-sm") }}</div>

            <div class="col-2">{{ form.ndssNumber.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.ndssNumber(class="form-control form-control-sm") }}</div>
        </div>

        <!-- My HR -->
        <h5 class="my-3">My HR</h5>
        <div class="row g-3 align-items-center mb-1">
            <div class="col-2">{{ form.ihiNumber.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.ihiNumber(class="form-control form-control-sm") }}</div>

            <div class="col-2">{{ form.ihiStatus.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.ihiStatus(class="form-control form-control-sm") }}</div>
        </div>

        <div class="row g-3 align-items-center mb-1">
            <div class="col-2">{{ form.ihiRecordStatus.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.ihiRecordStatus(class="form-control form-control-sm") }}</div>
        </div>

        <!-- Doctor -->
        <h5 class="my-3">Doctor</h5>
        <div class="row g-3 align-items-center mb-1">
            <div class="col-2">{{ form.doctor.label(class="form-label form-label-sm") }}</div>
            <div class="col-4">{{ form.doctor(class="form-control form-control-sm") }}</div>
        </div>
    </div>{% endcall %}

    <!-- Saftey Net Tab -->
    {% call pt_macros.add_tab_panel("Safety Net Details", "safety-net") %}<div>
        <div class="container">
            <div class="row fw-bold border-bottom">
                <div class="col-3"></div>
                <div class="col">Outside</div>
                <div class="col">Inside</div>
                <div class="col">Total</div>
            </div>

            <div class="row align-items-center py-2">
                <div class="col-3">Scripts Count</div>
                <div class="col">{{ form.script_count_outside(class="form-control") }}</div>
                <div class="col">{{ form.script_count_inside(class="form-control") }}</div>
                <div class="col">{{ form.script_count_total(class="form-control") }}</div>
            </div>

            <div class="row align-items-center py-2">
                <div class="col-3">Scripts Value</div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        {{ form.scripts_value_outside(class="form-control") }}
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        {{ form.scripts_value_inside(class="form-control") }}
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        {{ form.scripts_value_total(class="form-control") }}
                    </div>
                </div>
            </div>

        </div>
    </div>{% endcall %}
{% if False %} <!-- Tab(s) have not been implemented -->
    <!-- Saftey Net Tab -->
    {% call pt_macros.add_tab_panel("Allergies/Health", "allergies") %}<div>
        <p>Allergies Tab Not implemented</p>
    </div>{% endcall %}
{% endif %}

    <!-- Accounts Tab -->
    {% call pt_macros.add_tab_panel("Accounts", "accounts") %}<div>
        <p>Accounts Tab Not implemented</p>
    </div>{% endcall %}

    <!-- Notes Tab -->
    {% call pt_macros.add_tab_panel("Notes", "notes") %}<div>
        <p>Accounts Tab Not implemented</p>
    </div>{% endcall %}

{% if False %} <!-- Tab(s) have not been implemented -->
    <!-- Clinical Interventions Tab -->
    {% call pt_macros.add_tab_panel("Clinical Interventions", "clinical-interventions") %}<div>
        <p>Clinical Tab Not implemented</p>
    </div>{% endcall %}

    <!-- SMS Tab -->
    {% call pt_macros.add_tab_panel("SMS", "sms") %}<div>
        <p>SMS Tab Not implemented</p>
    </div>{% endcall %}
{% endif %}

    <!-- Clubs/Providers Tab -->
    {% call pt_macros.add_tab_panel("Clubs/Providers", "clubs") %}<div>
        <p>Clubs/Providers Tab Not implemented</p>
    </div>{% endcall %}

    <!-- Other Tab -->
    {% call pt_macros.add_tab_panel("Other", "other") %}<div>
        <p>Other Tab Not implemented</p>
    </div>{% endcall %}
</div>

<!-- Submit -->
<div class="d-flex flex-row-reverse">
    <button type="cancel" class="col-2-sm col-3 btn btn-warning ms-1">Cancel</button>
    <button type="submit" class="col-2-sm col-3 btn btn-success ms-1">Save</button>
</div>
</form>
</div>

</div>
</div>
{% endblock %}
