{% macro input_field(id, label, type="text", fulllength=False, void=False, attrs="") %}
{% if void %}
<div class="col-6"></div>
{% else %}
<div class="col-2">
    <label for="{{ id }}" class="form-label form-label-sm">{{ label }}</label>
</div>
<div class="{{ 'col-10' if fulllength else 'col-4' }}">
    <input
        type="{{ type }}"
        id="{{ id }}"
        class="form-control form-control-sm"
        {{ attrs|safe }}
        required>
</div>
{% endif %}
{% endmacro %}

{% macro input_check(id, label, fulllength=False) %}
<div class="col-2"></div>
<div class="{{ 'col-10' if fulllength else 'col-4-sm' }} form-check">
    <input type="checkbox" class="form-check-input" id="{{ id }}" required>
    <label class="form-check-label" for="smsRepeats">{{ label }}</label>
</div>
{% endmacro %}


{% macro add_tab(id, label, target="", active=False, disabled=False) %}
<li class="nav-item">
    <a id="{{id}}-tab" class="nav-link {{ 'active' if active else '' }} {{ 'disabled' if disabled else '' }}" data-bs-toggle="tab" href="#{{ target }}">{{ label }}</a>
</li>
{% endmacro %}

{% macro add_ddown(id, label, target="", active=False, disabled=False) %}
<li>
    <a id="{{id}}-ddown"
       class="dropdown-item {{ 'disabled' if disabled else '' }} {{ 'd-none' if active else '' }}"
       href="#{{ target }}"
       data-bs-toggle="tab"
       onclick="document.getElementById('{{id}}-tab').click();"
       {{ 'style="display:none;"' if active else '' }}>
       {{ label }}
    </a>
</li>
{% endmacro %}

<!-- This is inside div constructor -->
{% macro add_tab_panel(id, label, target="#", active=False, disabled=False) %}
<div class="tab-pane fade {{ 'show active' if active else '' }}" id="{{ target }}">
{% endmacro %}